<div class="data-form">
  <form class="form-signin" action="<%=`/vacations/${vacation._id}/update?_method=PUT`%>" method="POST">
    <h2 class="form-signin-heading">Edit vacation:</h2>
    <label for="inputTitle">Title</label>
    <input type="text" name="title" id="inputTitle" class="form-control" value="<%= vacation.title %>" placeholder="Title" autofocus>
    <label for="inputDescription">Description</label>
    <input type="text" name="description" id="inputDescription" class="form-control" value="<%= vacation.description %>" placeholder="Description">
    <label for="inputHeroImage">HeroImage</label>
    <input type="text" name="heroimage" id="inputHeroImage" class="form-control" value="<%= vacation.heroimage %>" placeholder="HeroImage">
    <label for="inputCuisine">Cuisine</label>
    <input type="text" name="cuisine" id="inputCuisine" class="form-control" value="<%= vacation.cuisine %>" placeholder="Cuisine">
    <label for="inputCost">Cost</label>
    <input type="text" name="cost" id="inputCost" pattern="\d*" class="form-control" value="<%= vacation.cost %>" placeholder="Cost" required>
    
    <label for="inputmaxTravelers">MaxTravelers</label>
    <input type="text" name="maxTravelers" id="inputMaxTravelers" class="form-control" value="<%= vacation.maxTravelers %>" placeholder="MaxTravelers">
    <label for="inputDestination">Destination</label>
    <input type="text" name="destination" id="inputDestination" class="form-control" value="<%= vacation.destination %>" placeholder="Destination">
    <label for="inputDepartureLocation">DepartureLocation</label>
    <input type="text" name="departureLocation" id="inputDepartureLocation" class="form-control" value="<%= vacation.departureLocation %>" placeholder="DepartureLocation">
    <label for="inputDepartureDate">DepartureDate</label>
    <input type="text" name="departureDate" id="inputDepartureDate" class="form-control" value="<%= vacation.departureDate %>" placeholder="DepartureDate">
    <label for="inputReturnDate">ReturnDate</label>
    <input type="text" name="returnDate" id="inputReturnDate" class="form-control" value="<%= vacation.returnDate %>" placeholder="ReturnDate">

    
    <br /><button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
  </form>
</div>
