<% if (isauthenticated==1)  { %>
<h3><a href="/vacations/new">Create New</a> </h3>
<%  } %>
<h2 class="center">Vacations Table</h2>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <% if (isauthenticated==1)  { %>
      <th>Edit</th>
      <th>Delete</th>

      <%  } %>
    </tr>
  </thead>
  
  <tbody>
    <% vacations.forEach(vacation => { %>
    <tr>
      <td>
        <a href="<%= `/vacations/${vacation._id}` %>">
          <%= vacation.title %>
        </a>
      </td>
      <td>
        <%= vacation.description %>
      </td>

      <% if (isauthenticated==1)  { %>
      <td>
        <a href="<%=`vacations/${vacation._id}/edit`%>">
          Edit
        </a>
      </td>
      <td>
        <a href="<%= `vacations/${vacation._id}/delete?_method=DELETE` %>" onclick="return confirm('Are you sure you want to delete this record?')" a>Delete</a>
      </td>

      <%  } %>
    </tr>
    <% }); %>
  </tbody>
</table>
